
github "krzyzanowskim/CryptoSwift"
github "IBM-Swift/BlueRSA"
github "BiAtoms/Socket.swift" ~> 2.3
github "sindresorhus/Preferences"
github "kishikawakatsumi/KeychainAccess"
github "1024jp/GzipSwift"
github "ashleymills/Reachability.swift"
github "sparkle-project/Sparkle"
github "MessageKit/MessageKit"
github "nathantannar4/InputBarAccessoryView"
